@use 'defaults';

@mixin common-colors {
  --md-sys-color-primary: #3D6FB4;
  --md-sys-color-on-primary: white;

  --md-sys-color-background: hsl(225deg 22% 96%);
  --md-sys-color-on-background: hsl(0, 0%, 40%);
  --md-sys-color-surface: white;
  --md-sys-color-on-surface: hsl(0, 0%, 30%);

  --md-sys-color-highlight: white;

  --md-sys-color-outline: hsla(0deg, 0%, 80%, 1);
}

@mixin emphasis {
  --md-sys-color-surface-emphasis-5: rgba(0, 0, 0, 87%);
  --md-sys-color-surface-emphasis-4: rgba(0, 0, 0, 60%);
  --md-sys-color-surface-emphasis-3: rgba(0, 0, 0, 38%);
  --md-sys-color-surface-emphasis-2: rgba(0, 0, 0, 12%);
  --md-sys-color-surface-emphasis-1: rgba(0, 0, 0, 4%);
  --md-sys-color-surface-emphasis-0: rgba(0, 0, 0, 0%);

  --md-sys-color-primary-emphasis-5: rgba(255, 255, 255, 100%);
  --md-sys-color-primary-emphasis-4: rgba(255, 255, 255, 74%);
  --md-sys-color-primary-emphasis-3: rgba(255, 255, 255, 38%);
  --md-sys-color-primary-emphasis-2: rgba(255, 255, 255, 18%);
  --md-sys-color-primary-emphasis-1: rgba(255, 255, 255, 10%);
  --md-sys-color-primary-emphasis-0: rgba(255, 255, 255, 0%);
}

@mixin states {
  --md-sys-state-hover-alpha: .14;
  --md-sys-state-focused-alpha: .22;
  --md-sys-state-pressed-alpha: .2;
  --md-sys-state-dragged-alpha: .18;
  --md-sys-state-selected-alpha: .18;
  --md-sys-state-disabled-alpha: .38;
}

@mixin placeholder {
  --color-content-placeholder: var(--md-sys-color-surface-emphasis-4);
  --color-content-placeholder-highlight: hsla(0, 0%, 100%, 0.6);
}

@mixin elevation {
  --md-sys-shadow-key-alpha: 0.14;
  --md-sys-shadow-ambient-alpha: 0.12;
  --md-sys-shadow-ambient-2-alpha: 0.20;
}

@mixin scrollbar {
  --md-sys-color-scrollbar-thumb: rgba(31, 41, 51, 0.2);
  --md-sys-color-scrollbar-thumb-hover: rgba(31, 41, 51, 0.3);
  --md-sys-color-scrollbar-track: rgba(31, 41, 51, 0.02);
}

@mixin theme {
  @include common-colors;
  @include emphasis;
  @include states;
  @include placeholder;
  @include elevation;
  @include scrollbar;
}

.labs-light-theme {
  @include theme;
  @include defaults.theme;
}


@media (prefers-color-scheme: light) {
  :root {
    @include theme;
  }
}
