:root {
  --labs-size-1: .25rem;
  --labs-size-2: .5rem;
  --labs-size-3: .75rem;
  --labs-size-4: 1rem;
  --labs-size-5: 1.25rem;
  --labs-size-6: 1.5rem;
  --labs-size-7: 1.75rem;
  --labs-size-8: 2rem;
  --labs-size-9: 3rem;
  --labs-size-10: 4rem;
  --labs-size-11: 5rem;
  --labs-size-12: 7.5rem;
  --labs-size-13: 10rem;

  --gap-xl: 2rem;
  --gap-l: 1.5rem;
  --gap-m: 1rem;
  --gap-s: 0.5rem;
  --gap-xs: 0.25rem;
}
